
.bg-one {
    background-image:url("/images/home/chicken1.jpg");
}
.bg-two {
    background-image:url("/images/home/duck3.jpg");
}
.bg-three {
    background-image:url("/images/home/dove.jpg");
}
.bg-four {
    background-image:url("/images/home/duck4.jpg");
}
.bg-five {
    background-image:url("/images/home/chicken.jpg");
}
.bg-six {
    background-image:url("/images/home/dove2.jpg");
}
/* Image zoom on hover + Overlay colour */
.parent {
    /*margin: 20px;*/
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

span {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover span, .parent:focus span {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.x_color{
    color: #00ab6c;
    transition: all 1.5s 0s ease;
}
